/* ===== COLOR THEME ===== */
:root {
  --black: #0D0D0D;
  --white: #FFFFFF;
  --pink: #FFD700;
  --pink-hover: #d8b906;

}

/* ===== GLOBAL STYLES ===== */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ===== SIGNUP CONTAINER ===== */
.signup-container {
  width: 100%;
  max-width: 420px;
  background-color: #111;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px #FFD700;
}

.form-box h2 {
  text-align: center;
  color: var(--pink);
  margin-bottom: 25px;
  font-size: 1.8rem;
}

/* ===== INPUT FIELDS ===== */
.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 95%;
  padding: 12px;
  border: 1px solid var(--pink);
  border-radius: 8px;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

.input-group input::placeholder {
  color: #ccc;
}

/* ===== SIGN UP BUTTON ===== */
.signup-btn {
  width: 100%;
  background-color: var(--pink);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: var(--pink-hover);
}

/* ===== SOCIAL LOGIN BUTTONS ===== */
.or-text {
  text-align: center;
  color: #ccc;
  margin: 15px 0;
  font-size: 0.9rem;
}

.social-login button {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.95rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.social-login a{
    text-decoration: none;
}
.google-btn {
  background-color: #fff;
  color: #000;
}

.apple-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #333;
}

.facebook-btn {
  background-color: #1877f2;
  color: #fff;
}

.google-btn:hover {
  background-color: #f1f1f1;
}

.apple-btn:hover {
  background-color: #222;
}

.facebook-btn:hover {
  background-color: #125bd4;
}

/* ===== LOGIN LINK ===== */
.login-link {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 15px;
  color: #ccc;
}

.login-link a {
  color: var(--pink);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 500px) {
  .signup-container {
    padding: 30px 20px;
  }
}
